@page "/canteen/items"
@attribute [Authorize]
@using CanteenManagementSystem.CanteenManagement.Dtos
@using CanteenManagementSystem.CanteenManagement.Services
@using Volo.Abp.Application.Dtos
@using Volo.Abp.AspNetCore.Components.Web
@inherits CanteenManagementSystemComponentBase

<PageTitle>@L["ItemMaster"] | Canteen Management</PageTitle>

<Row Class="mb-4">
    <Column ColumnSize="ColumnSize.Is6">
        <Heading Size="HeadingSize.Is3">
            <Icon Name="IconName.Utensils" Class="me-2" />
            @L["ItemMaster"]
        </Heading>
        <Paragraph>@L["ItemMasterDescription"]</Paragraph>
    </Column>
    <Column ColumnSize="ColumnSize.Is6" Class="text-end">
        <Button Color="Color.Primary" Clicked="OpenCreateModal">
            <Icon Name="IconName.Plus" Class="me-2" />
            @L["AddItem"]
        </Button>
    </Column>
</Row>

<Card>
    <CardHeader>
        <Row Class="align-items-center">
            <Column ColumnSize="ColumnSize.Is8">
                <input class="form-control" type="text"
                       value="@Filter.Filter"
                       @oninput="OnFilterInput"
                       @onkeyup="OnFilterKeyUp"
                       placeholder="@L["SearchByNameOrCode"]" />
            </Column>
            <Column ColumnSize="ColumnSize.Is4" Class="text-end">
                <Button Color="Color.Secondary" Clicked="RefreshData">
                    <Icon Name="IconName.Sync" />
                </Button>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        @if (Items == null)
        {
            <Paragraph>@L["Loading"]</Paragraph>
        }
        else if (Items.Count == 0)
        {
            <Paragraph>@L["NoItemsFound"]</Paragraph>
        }
        else
        {
            <Table Striped Hoverable Responsive>
                <TableHeader>
                    <TableRow>
                        <TableHeaderCell>@L["ItemDescription"]</TableHeaderCell>
                        <TableHeaderCell>@L["ItemPrice"]</TableHeaderCell>
                        <TableHeaderCell>@L["CreationTime"]</TableHeaderCell>
                        <TableHeaderCell>@L["Actions"]</TableHeaderCell>
                    </TableRow>
                </TableHeader>
                <TableBody>
                    @foreach (var item in Items)
                    {
                        <TableRow>
                            <TableRowCell>@item.Description</TableRowCell>
                            <TableRowCell>@item.Price.ToString("C")</TableRowCell>
                            <TableRowCell>@item.CreationTime.ToString("g")</TableRowCell>
                            <TableRowCell>
                                <Button Color="Color.Warning" Size="Size.Small" Clicked="@(() => OpenEditModal(item))">
                                    <Icon Name="IconName.Edit" />
                                    @L["Edit"]
                                </Button>
                                <Button Color="Color.Danger" Size="Size.Small" Clicked="@(() => DeleteItemAsync(item))">
                                    <Icon Name="IconName.Delete" />
                                    @L["Delete"]
                                </Button>
                            </TableRowCell>
                        </TableRow>
                    }
                </TableBody>
            </Table>

            @if (TotalCount > Filter.MaxResultCount)
            {
                <Pagination>
                    <PaginationItem Disabled="@IsFirstPage">
                        <PaginationLink Clicked="GoToPreviousPage">Previous</PaginationLink>
                    </PaginationItem>
                    <PaginationItem Disabled="@IsLastPage">
                        <PaginationLink Clicked="GoToNextPage">Next</PaginationLink>
                    </PaginationItem>
                </Pagination>
                <Paragraph>Showing @((Filter.SkipCount + 1)) - @(Math.Min(Filter.SkipCount + Items.Count, TotalCount)) of @TotalCount</Paragraph>
            }
        }
    </CardBody>
</Card>

<Modal @ref="CreateModal">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>@L["AddItem"]</ModalTitle>
            <CloseButton Clicked="CloseCreateModal" />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>@L["ItemDescription"]</FieldLabel>
                <input class="form-control" type="text"
                       @bind-value="NewItem.Description"
                       @bind-value:event="oninput"
                       placeholder="@L["ItemDescriptionPlaceholder"]" />
            </Field>
            <Field>
                <FieldLabel>@L["ItemPrice"]</FieldLabel>
                <input class="form-control" type="number" step="0.01" min="0"
                       @bind-value="NewItem.Price"
                       @bind-value:event="oninput"
                       placeholder="@L["ItemPricePlaceholder"]" />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="CloseCreateModal">@L["Cancel"]</Button>
            <Button Color="Color.Primary" Clicked="CreateItemAsync">@L["Save"]</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<Modal @ref="EditModal">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>@L["EditItem"]</ModalTitle>
            <CloseButton Clicked="CloseEditModal" />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>@L["ItemDescription"]</FieldLabel>
                <input class="form-control" type="text"
                       @bind-value="EditingItem.Description"
                       @bind-value:event="oninput"
                       placeholder="@L["ItemDescriptionPlaceholder"]" />
            </Field>
            <Field>
                <FieldLabel>@L["ItemPrice"]</FieldLabel>
                <input class="form-control" type="number" step="0.01" min="0"
                       @bind-value="EditingItem.Price"
                       @bind-value:event="oninput"
                       placeholder="@L["ItemPricePlaceholder"]" />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="CloseEditModal">@L["Cancel"]</Button>
            <Button Color="Color.Primary" Clicked="UpdateItemAsync">@L["Save"]</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
