@page "/canteen/time-schedules"
@attribute [Authorize]
@using CanteenManagementSystem.CanteenManagement.Dtos
@using CanteenManagementSystem.CanteenManagement.Services
@using Volo.Abp.Application.Dtos
@using Volo.Abp.AspNetCore.Components.Web
@inherits CanteenManagementSystemComponentBase

<PageTitle>@L["TimeScheduleMaster"] | Canteen Management</PageTitle>

<Row Class="mb-4">
    <Column ColumnSize="ColumnSize.Is6">
        <Heading Size="HeadingSize.Is3">
            <Icon Name="IconName.Clock" Class="me-2" />
            @L["TimeScheduleMaster"]
        </Heading>
        <Paragraph>@L["TimeScheduleMasterDescription"]</Paragraph>
    </Column>
    <Column ColumnSize="ColumnSize.Is6" Class="text-end">
        <Button Color="Color.Primary" Clicked="OpenCreateModal">
            <Icon Name="IconName.Plus" Class="me-2" />
            @L["AddTimeSchedule"]
        </Button>
    </Column>
</Row>

<Card>
    <CardHeader>
        <Row Class="align-items-center">
            <Column ColumnSize="ColumnSize.Is8">
                <input class="form-control" type="text"
                       value="@Filter.Filter"
                       @oninput="OnFilterInput"
                       @onkeyup="OnFilterKeyUp"
                       placeholder="@L["SearchByNameOrCode"]" />
            </Column>
            <Column ColumnSize="ColumnSize.Is4" Class="text-end">
                <Button Color="Color.Secondary" Clicked="RefreshData">
                    <Icon Name="IconName.Sync" />
                </Button>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        @if (TimeSchedules == null)
        {
            <Paragraph>@L["Loading"]</Paragraph>
        }
        else if (TimeSchedules.Count == 0)
        {
            <Paragraph>@L["NoTimeSchedulesFound"]</Paragraph>
        }
        else
        {
            <Table Striped Hoverable Responsive>
                <TableHeader>
                    <TableRow>
                        <TableHeaderCell>@L["TimeScheduleName"]</TableHeaderCell>
                        <TableHeaderCell>@L["TimeScheduleCode"]</TableHeaderCell>
                        <TableHeaderCell>@L["StartTime"]</TableHeaderCell>
                        <TableHeaderCell>@L["EndTime"]</TableHeaderCell>
                        <TableHeaderCell>@L["Item"]</TableHeaderCell>
                        <TableHeaderCell>@L["Actions"]</TableHeaderCell>
                    </TableRow>
                </TableHeader>
                <TableBody>
                    @foreach (var timeSchedule in TimeSchedules)
                    {
                        <TableRow>
                            <TableRowCell>@timeSchedule.Name</TableRowCell>
                            <TableRowCell>@timeSchedule.Code</TableRowCell>
                            <TableRowCell>@timeSchedule.StartTime.ToString("hh\\:mm")</TableRowCell>
                            <TableRowCell>@timeSchedule.EndTime.ToString("hh\\:mm")</TableRowCell>
                            <TableRowCell>@timeSchedule.ItemName</TableRowCell>
                            <TableRowCell>
                                <Button Color="Color.Warning" Size="Size.Small" Clicked="@(() => OpenEditModal(timeSchedule))">
                                    <Icon Name="IconName.Edit" />
                                    @L["Edit"]
                                </Button>
                                <Button Color="Color.Danger" Size="Size.Small" Clicked="@(() => DeleteTimeScheduleAsync(timeSchedule))">
                                    <Icon Name="IconName.Delete" />
                                    @L["Delete"]
                                </Button>
                            </TableRowCell>
                        </TableRow>
                    }
                </TableBody>
            </Table>

            @if (TotalCount > Filter.MaxResultCount)
            {
                <Pagination>
                    <PaginationItem Disabled="@IsFirstPage">
                        <PaginationLink Clicked="GoToPreviousPage">Previous</PaginationLink>
                    </PaginationItem>
                    <PaginationItem Disabled="@IsLastPage">
                        <PaginationLink Clicked="GoToNextPage">Next</PaginationLink>
                    </PaginationItem>
                </Pagination>
                <Paragraph>Showing @((Filter.SkipCount + 1)) - @(Math.Min(Filter.SkipCount + TimeSchedules.Count, TotalCount)) of @TotalCount</Paragraph>
            }
        }
    </CardBody>
</Card>

<Modal @ref="CreateModal">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>@L["AddTimeSchedule"]</ModalTitle>
            <CloseButton Clicked="CloseCreateModal" />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>@L["TimeScheduleName"]</FieldLabel>
                <input class="form-control" type="text"
                       @bind-value="NewTimeSchedule.Name"
                       @bind-value:event="oninput"
                       placeholder="@L["TimeScheduleNamePlaceholder"]" />
            </Field>
            <Field>
                <FieldLabel>@L["TimeScheduleCode"]</FieldLabel>
                <input class="form-control" type="text"
                       @bind-value="NewTimeSchedule.Code"
                       @bind-value:event="oninput"
                       placeholder="@L["TimeScheduleCodePlaceholder"]" />
            </Field>
            <Field>
                <FieldLabel>@L["StartTime"]</FieldLabel>
                <input class="form-control" type="time"
                       @bind="NewTimeSchedule.StartTime"
                       @bind:format="hh\\:mm" />
            </Field>
            <Field>
                <FieldLabel>@L["EndTime"]</FieldLabel>
                <input class="form-control" type="time"
                       @bind="NewTimeSchedule.EndTime"
                       @bind:format="hh\\:mm" />
            </Field>
            <Field>
                <FieldLabel>@L["Item"]</FieldLabel>
                <select class="form-select" @bind="NewTimeSchedule.ItemId">
                    <option value="@Guid.Empty">@L["SelectItem"]</option>
                    @foreach (var item in Items)
                    {
                        <option value="@item.Id">@item.Description (@item.Price.ToString("C"))</option>
                    }
                </select>
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="CloseCreateModal">@L["Cancel"]</Button>
            <Button Color="Color.Primary" Clicked="CreateTimeScheduleAsync">@L["Save"]</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<Modal @ref="EditModal">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>@L["EditTimeSchedule"]</ModalTitle>
            <CloseButton Clicked="CloseEditModal" />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>@L["TimeScheduleName"]</FieldLabel>
                <input class="form-control" type="text"
                       @bind-value="EditingTimeSchedule.Name"
                       @bind-value:event="oninput"
                       placeholder="@L["TimeScheduleNamePlaceholder"]" />
            </Field>
            <Field>
                <FieldLabel>@L["TimeScheduleCode"]</FieldLabel>
                <input class="form-control" type="text"
                       @bind-value="EditingTimeSchedule.Code"
                       @bind-value:event="oninput"
                       placeholder="@L["TimeScheduleCodePlaceholder"]" />
            </Field>
            <Field>
                <FieldLabel>@L["StartTime"]</FieldLabel>
                <input class="form-control" type="time"
                       @bind="EditingTimeSchedule.StartTime"
                       @bind:format="hh\\:mm" />
            </Field>
            <Field>
                <FieldLabel>@L["EndTime"]</FieldLabel>
                <input class="form-control" type="time"
                       @bind="EditingTimeSchedule.EndTime"
                       @bind:format="hh\\:mm" />
            </Field>
            <Field>
                <FieldLabel>@L["Item"]</FieldLabel>
                <select class="form-select" @bind="EditingTimeSchedule.ItemId">
                    <option value="@Guid.Empty">@L["SelectItem"]</option>
                    @foreach (var item in Items)
                    {
                        <option value="@item.Id">@item.Description (@item.Price.ToString("C"))</option>
                    }
                </select>
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="CloseEditModal">@L["Cancel"]</Button>
            <Button Color="Color.Primary" Clicked="UpdateTimeScheduleAsync">@L["Save"]</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
